
.sidebar-scrollable {
  position: relative;
  max-height: calc(100vh - 174px); /* 174px is height of header + search form */
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}